.vscode/**
.vscode-test/**
.git/**
src/**
out/test/**
node_modules/**
.temp/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
generate-icon.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-features.md
*.vsix
DEVELOPMENT.md
TESTING.md
